@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.WellRentalCenter.City.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new WellRental.AdminWeb.WellRentalCenter.CityGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>