@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.WellRentalCenter.Order.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new WellRental.AdminWeb.WellRentalCenter.OrderGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>